.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: #ffffff;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.header__left {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f4;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__left > img {
  height: 40px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.header__center .MuiSvgIcon-root {
  color: gray;
}

.header__center .MuiSvgIcon-root:hover {
  color: #2e81f4;
}

.header__options {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.heder__option--active {
  border-bottom: solid #2e81f4;
}
.heder__option--active .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  display: flex;
}

.header__right {
  display: flex;
}